<div class="bg-dark">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        {{ cadastrando ? 'Cadastro de novo Usuário' : 'Login' }}
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>

                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>

                                    <form #loginForm="ngForm" (submit)="onSubmit();">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Login</label>
                                            <input type="email" name="username" [(ngModel)]="username"
                                                autocomplete="off" class="form-control py-4" id="inputEmailAddress"
                                                placeholder="Digite seu Login" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Senha</label>
                                            <input type="password" name="password" [(ngModel)]="password"
                                                class="form-control py-4" id="inputPassword"
                                                placeholder="Digite sua Senha" />
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck"
                                                    type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Salvar
                                                    Senha </label>
                                            </div>
                                        </div>
                                        <div
                                            class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary"
                                                *ngIf="!cadastrando">Login</button>
                                            <!-- <a class="small" href="password.html">Esqueceu a senha?</a>
                                            <a class="btn btn-primary" href="index.html">Login</a> -->
                                            <button type="button" class="btn btn-success" (click)="cadastrar()"
                                                *ngIf="cadastrando">
                                                Cadastrar</button>
                                            <button type="button" (click)="cancelaCadastro();" class="btn btn-dark ml-1"
                                                *ngIf="cadastrando">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastro($event)">Precisa de uma conta? Criar
                                            Conta!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Viana 2021</div>
                        <div>
                            <a href="#">política de privacidade</a>
                            &middot;
                            <a href="#">Terms &amp; Condicões</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>